*{
padding:0;
margin:0;
box-sizing:border-box;
font-family: Arial, Helvetica, sans-serif;
}
html, body{
height: 100%;
width: 100%;
}
.sve{
padding-top: 10%;
padding-bottom: 10%;
height: 100%;
width: 100%;
background-color:lightgrey;
display:flex;
}
.prvadva{
display:flex;
width:80%;
height:100%;
background-color:grey;
border-bottom-right-radius: 50px;
border-top-right-radius: 50px;
overflow-y: scroll;

}
.desni{
width:20%;
height:100%;
background-color:grey;
border-bottom-left-radius: 50px;
border-top-left-radius: 50px;
}
.lijevi{
width:20%;
height:100%;
}
.srednji{
width:100%;
height:100%;
}
.zaFormu{
padding: 30px;
}
input, label{
 width: 100%;
}
textarea{
background-color:grey;
width: 100%;
border:none;
border-bottom: solid 2px blue;
border-bottom-right-radius: 8px;
padding: 6px;
}
label{
color:white;
}
input{
border:none;
border-bottom: solid 2px blue;
border-bottom-right-radius: 8px;
background-color: grey;
padding: 4px;
}
input[type="button"]{
color: white;
padding-top: 15px;
}
.srednjiSadrzaj{
  padding: 50px;
}
th{
color: white;
border:none;
border-bottom: blue 3px solid;
position:relative;
left: 10px;
}
p{
position: relative;
top: 20px;
padding-left: 450px;
}
a#IzbornikDugme, span
{
  font-size: larger;
  color:lightgrey;
}
nav{
  padding: 35px;
  font-weight: bold;
}
input[type="button"].IzbornikStavka{
background-color: rgb(122, 118, 118);
font-weight: bold;
color:lightgrey;
border-top-left-radius: 8px;
}
input[type="button"].IzbornikStavka:hover{
  background-color: rgb(74, 74, 197);
  border:rgb(82, 80, 80) double 2px;
}

input[type="button"]#IzbornikStavka{
  background-color: rgb(122, 118, 118);
  font-weight: bold;
  color:lightgrey;
  border-top-left-radius: 8px;
  }
  input[type="button"]#IzbornikStavka:hover{
    background-color: rgb(74, 74, 197);
    border:rgb(82, 80, 80) double 2px;
  }
  
.error{
  background-color: red;
}
.valid{
  background-color: green;
}

img{
  width: 50px;
  height: 50px;
}




@media only screen and (max-width: 600px) {

.sve{
height: 100%;
width: 100%;
display:flex;
flex-direction:column-reverse;
padding-top: 0%;
padding-bottom: 0%;
}
.lijevi{
display:none;
}

.desni{
width:100%;
height:30%;
background-color: grey;
border-bottom-left-radius: 0px;
border-top-left-radius: 0px;
}

.prvadva{
width:100%;
height:70%;
background-color:rgb(145, 141, 141);
border-bottom-right-radius: 0px;
border-top-right-radius: 0px;
overflow-y: scroll;
}
p{
  display:none;
}

input{
border:none;
border-bottom-right-radius: 8px;
background-color: grey;
padding: 4px;
}
    
input[type="button"].IzbornikStavka{
margin: 1px;
border-top-left-radius: 10px;
}
.bi{
  padding-left: 15px;
}

input[type="button"].IzbornikStavka:hover{
  background-color: rgb(122, 118, 118);
  border:rgb(82, 80, 80) solid 2px;
}

}